.gambar-berita{
    width: 700px;
}
@media (max-width: 992px) {
    .gambar-berita {
      width: 340px;
    }
  }

  .tengah {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }